[submodule "submodules/php-steam-openid"]
	path = submodules/php-steam-openid
	url = https://github.com/fisuku/php-steam-openid.git
[submodule "submodules/ac-server-wrapper"]
	path = submodules/ac-server-wrapper
	url = https://github.com/gro-ove/ac-server-wrapper.git
