/* -----------------------------------------------------------------------------
 *                           Compound SessionPenaltiesSum
 * -----------------------------------------------------------------------------
 */

div.CompoundSessionPenaltiesSum span.PenaltyGood {
    color: var(--color-functional-success);
}

div.CompoundSessionPenaltiesSum span.PenaltyBad {
    color: var(--color-functional-fail);
}



/* -----------------------------------------------------------------------------
 *                           Compound CompoundDriver
 * -----------------------------------------------------------------------------
 */

div.CompoundDriver {
    display: inline-block;
    vertical-align: baseline;
}

div.CompoundDriver img,
div.CompoundDriver div {
    display: inline-block;
    margin: 0;
    overflow: hidden;
}
