
#contents__za_server_ fieldset > img {
    float: left;
}



/* -----------------------------------------------------------------------------
 *                                 Old Styles
 * -----------------------------------------------------------------------------
 */

/*
div#PresetSelect input[type=radio],
#CarSelect input[type=checkbox] {
  display: none;
}

div#PresetSelect input[type=radio] + label,
#CarSelect input[type=checkbox] + label {
  background-color: rgba(0,0,0,0.2);
  padding: 5px 20px;
  margin-bottom: 5px;
  display: inline-block;
}

div#PresetSelect input[type=radio] + label {
  width: 80%;
}

div#PresetSelect input[type=radio] + label img {
  display: none;
}

div#PresetSelect input[type=radio]:checked + label img {
  display: block;
  float:left;
}

div#PresetSelect input[type=radio] + label:hover,
#CarSelect input[type=checkbox] + label:hover {
  background-color: rgba(0,0,0,0.5);
}

div#PresetSelect input[type=radio]:checked + label,
#CarSelect input[type=checkbox]:checked + label {
  background-color: rgba(255,0,0,0.75);
}

div#ServerOverviewTrackOutline {
  background-color: rgba(0,0,0,0.2);
}

*/
