
/******************************************************************************
                                   A_Home
 ******************************************************************************/

main.A_Home div#UpcommingRacesOverview {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 2em;
}

main.A_Home div#UpcommingRacesOverview div {
    border-radius: 1em;
    background-color: var(--color-bg-elements);
    padding: 0.5em 1em;
    margin-bottom: 1.2em;
    margin-right: 0.5em;
}

main.A_Home div#UpcommingRacesOverview div.Obsolete {
    background-color: var(--color-functional-bg-fail);
    color: var(--color-disabled);
    font-style: italic;
}

main.A_Home div#UpcommingRacesOverview div.DbEntryHtml {
    border-radius: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

main.A_Home div#UpcommingRacesOverview span.RegistrationsFull {
    color: var(--color-functional-fail);
}

main.A_Home div#UpcommingRacesOverview span.RegistrationsAvailable {
    color: var(--color-functional-success);
}

main.A_Home .NotRegistered {
    color: var(--color-functional-fail);
}

main.A_Home .Registered {
    color: var(--color-functional-success);
}



/******************************************************************************
                                   CarBrand
 ******************************************************************************/

main.CarBrand #BrandInfo {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

main.CarBrand #BrandInfo > label {
    font-weight: bold;
    font-size: 5em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}



/******************************************************************************
                                   TrackLocation
 ******************************************************************************/

main.TrackLocation a.TrackLink {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

main.TrackLocation #TrackInfoGeneral,
main.TrackLocation #TrackInfoGeoLocation {
    display: inline-block;
    margin-right: 2em;
}

main.TrackLocation #RealWeaterData td>img {
    float:left;
    height: 5em;
}



/******************************************************************************
                                   CarModel
 ******************************************************************************/

main.CarModel #BrandInfo {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

main.CarModel #BrandInfo > label {
    font-weight: bold;
    font-size: 5em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}

main.CarModel div#CarModelTorquePowerChart {
    width: 40em;
    display: inline-block;
}


main.CarModel #CarModelInformation,
main.CarModel #CarModelRevision,
main.CarModel #CarModelCurveTbl {
    display: inline-block;
    margin-right: 2em;
}

main.CarModel #CarModelDescription {
    display: block;
    background-color: var(--color-bg-elements);
    padding: 1em;
    margin: 2em 0em;;
}



/******************************************************************************
                                   CarSkin
 ******************************************************************************/

main.CarSkin #BrandInfo {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

main.CarSkin #BrandInfo > label {
    font-weight: bold;
    font-size: 5em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}


main.CarSkin #CarSkinInformation,
main.CarSkin #CarSkinRevision,
main.CarSkin #CarSkinRegistrationInformation {
    display: inline-block;
    margin-right: 2em;
}

main.CarSkin a#SkinImgPreview {
    padding: 1em;
}

main.CarSkin a#SkinImgPreview img {
    display: block;
    max-height: 20em;
}



/******************************************************************************
                                   ServerPresets
 ******************************************************************************/

main.ServerPresets table#PresetManagementTable {
    border-spacing: 0.1em;
}

main.ServerPresets table#PresetManagementTable tr td {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

main.ServerPresets table#PresetManagementTable tr td:first-child {
    font-family: monospace;
    text-align: left;
}

main.ServerPresets table#PresetManagementTable tr.CurrentPreset td:first-child {
/*     font-weight: bold; */
    color: var(--color-red-accent);
}



/******************************************************************************
                                   ServerSlots
 ******************************************************************************/

main.ServerSlots table#SlotManagementTable {
    border-spacing: 0.1em;
}

main.ServerSlots table#SlotManagementTable tr td {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

main.ServerSlots table#SlotManagementTable tr td:first-child {
    font-family: monospace;
    text-align: left;
}

main.ServerSlots table#SlotManagementTable tr.CurrentSlot td:first-child {
/*     font-weight: bold; */
    color: var(--color-red-accent);
}



/******************************************************************************
                                   ServerSlots
 ******************************************************************************/

main.Weathers table#WeatherManagementTable img {
    max-height: 3em;
    max-width: 5em;
}

main.Weathers table#WeatherManagementTable {
    border-spacing: 0.1em;
}

main.Weathers table#WeatherManagementTable tr td {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

main.Weathers table#WeatherManagementTable tr td:first-child {
    font-family: monospace;
    text-align: left;
}

main.Weathers table#WeatherManagementTable tr.CurrentSlot td:first-child {
/*     font-weight: bold; */
    color: var(--color-red-accent);
}



/******************************************************************************
                             GroupManagement
 *****************************************************************************/

main.GroupManagement table tr:hover {
    background-color: #fff2;
}



/*****************************************************************************
                          AvailableTrackLocations
 *****************************************************************************/

main.AvailableTrackLocations div#TableOfContents a {
    margin: 0.3em;
    padding: 0.5em 1.0em;
    background-color: var(--color-bg-elements);
    border-radius: 0.2em;
}



/*****************************************************************************
                          W_Sessions
 *****************************************************************************/

main.W_Sessions div.Infolet {
    border-radius: 1em;
    background-color: var(--color-bg-elements);
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1em;
    vertical-align: top;
}

main.W_Sessions div.Infolet div {
    background-color: transparent;
}



/*****************************************************************************
                          SessionOverview
 *****************************************************************************/

main.SessionOverview div#SessionOverviewFilter {
    margin-bottom: 1em;
}

main.SessionOverview div#SessionOverviewFilter * {
    display: inline-block;
    font-size: 0.85em;
}

main.SessionOverview div#SessionOverviewFilter label {
    margin-right: 1em;
}

main.SessionOverview tr.ValidLap {
}

main.SessionOverview tr.InvalidLap {
    color: var(--color-disabled);
}

main.SessionOverview td.CarSkin,
main.SessionOverview td.CarSkin div {
    margin: 0;
    padding: 0;
}

main.SessionOverview td.CarSkin div,
main.SessionOverview td.CarSkin div a {
    display: block;
}

main.SessionOverview td.CarSkin img {
    height: 3em;
}

main.SessionOverview td.Driver {
    text-align: left;
}

main.SessionOverview td.Driver img {
    margin-right: 0.5em;
}

main.SessionOverview div#LaptimeDistributionDiagram {
    margin-bottom: 3em;
}

main.SessionOverview td.SessionResultsDriverFlagCell {
    background-color: transparent;
}

main.SessionOverview td.SessionResultsDriverFlagCell img {
    height: 2em;
    max-height: 2em;
}

main.SessionOverview td.SessionResultsCarSkinCell {
    padding: 0;
}

main.SessionOverview td.SessionResultsCarSkinCell div {
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: block;
}

main.SessionOverview td.SessionResultsCarSkinCell a {
    display: block;
}

main.SessionOverview td.SessionResultsCarSkinCell img {
    height: 3em;
}

/* Diagrams */
main.SessionOverview div#SessionPositionDiagram {
/*     height: 10em; */
}

main.SessionOverview div#LaptimeDistributionDiagram canvas {
    max-height: 30em;
}


/* SessionInformationDatalets  */
main.SessionOverview div#SessionInformationDatalets {
    display: flex;
}

main.SessionOverview div#SessionInformationDatalets div {
    border-radius: 1em;
    background-color: var(--color-bg-elements);
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1em;
}

main.SessionOverview div#SessionInformationDatalets div strong {
    display: block;
}

main.SessionOverview span.PositiveRankingPoints,
main.SessionOverview span.PenaltyGood {
    color: var(--color-functional-success);
}

main.SessionOverview span.NagativeRankingPoints,
main.SessionOverview span.PenaltyBad {
    color: var(--color-functional-fail);
}



/*****************************************************************************
                          DriverRanking
 *****************************************************************************/

main.DriverRanking .TrendRising {
    color: var(--color-functional-success);
}

main.DriverRanking .TrendFalling {
    color: var(--color-functional-fail);
}

/*****************************************************************************
                         SessionSchedules
 ******************************************************************************/

main.SessionSchedules div#SessionScheduleOverview {
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    margin-top: 2em;
}

main.SessionSchedules div#SessionScheduleOverview > div {
    border-radius: 1em;
    background-color: var(--color-bg-elements);
    padding: 0.5em 1em;
    margin-bottom: 1.2em;
    margin-right: 0.5em;
}

main.SessionSchedules div#SessionScheduleOverview div.DbEntryHtml {
    border-radius: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: None;
}

main.SessionSchedules div#SessionScheduleOverview div div img {
    max-height: 5em;
}

main.SessionSchedules div#SessionScheduleOverview div.Obsolete {
    background-color: var(--color-functional-bg-fail);
    color: var(--color-disabled);
    font-style: italic;
}

main.SessionSchedules div#SessionScheduleOverview span.RegistrationsFull {
    color: var(--color-functional-fail);
}

main.SessionSchedules div#SessionScheduleOverview span.RegistrationsAvailable {
    color: var(--color-functional-success);
}

main.SessionSchedules div#SessionScheduleOverview div.Weather {
    vertical-align: middle;
}

main.SessionSchedules div#SessionScheduleOverview div.Weather > img,
main.SessionSchedules div#SessionScheduleOverview div.Weather > div.SessionScheduleWeatherForecastData {
    vertical-align: middle;
    display: inline-block;
}

main.SessionSchedules form {
    display: inline-block;
}

main.SessionSchedules .NotRegistered {
    color: var(--color-functional-fail);
}

main.SessionSchedules .Registered {
    color: var(--color-functional-success);
}

main.SessionSchedules form#DriverRegistrationForm div.DbEntryHtml {
    background-color: transparent;
    border: 0;
}

main.SessionSchedules form#RegistrationRoster td.NationalFlag,
main.SessionSchedules form#RegistrationRoster td.TeamLogo {
    background-color: transparent;
}

main.SessionSchedules form#RegistrationRoster td.TeamLogo div.DbEntryHtml {
    background-color: transparent;
    border: 0;
}

main.SessionSchedules form#RegistrationRoster td.NationalFlag img {
    height: 1.0em;
}

main.SessionSchedules form#RegistrationRoster td.TeamLogo img {
    height: 1.9em;
}

main.SessionSchedules form#RegistrationRoster td.CarSkin {
    background-color: transparent;
    padding: 0;
}

main.SessionSchedules form#RegistrationRoster td div.DbEntryHtml {
    margin: 0;
}

main.SessionSchedules form#RegistrationRoster td div.DbEntryHtml img {
    max-height: 3em;
}

main.SessionSchedules form#RegistrationRoster td.DriverName {
    text-align: left;
}

main.SessionSchedules form#RegistrationRoster table tr.Overbooked td {
    background-color: var(--color-functional-bg-fail);
}

main.SessionSchedules div#SessionDetailsOverview {
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    margin-bottom: 4em;
}

main.SessionSchedules div#SessionDetailsOverview div {
    border-radius: 1em;
    background-color: var(--color-bg-elements);
    padding: 0.5em 1em;
    margin-right: 0.5em;
}

main.SessionSchedules div#SessionDetailsOverview div div {
    border-radius: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

main.SessionSchedules div#SessionDetailsOverview div img.OWMWeatherIcon {
    height: 5em;
    float: left;
}

main.SessionSchedules div#SessionDetailsOverview div.SessionScheduleWeatherForecastData {
    margin-top: 1em;
    margin-left: 1em;
    display: inline-block;
}



/*****************************************************************************
                                 CarClass
 *****************************************************************************/

main.CarClass td.CarImage {
    padding: 0;
    background-color: transparent;
}

main.CarClass td.CarImage div {
    margin: 0;
}

main.CarClass td.CarImage img {
    height: 3em;
}


main.CarClass td.CarName div {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}



/*****************************************************************************
                                 Track
 *****************************************************************************/

main.Track td.CarImage {
    padding: 0;
    background-color: transparent;
}

main.Track td.CarImage div {
    margin: 0;
}

main.Track td.CarImage img {
    height: 3em;
}

main.Track td.CarName div {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}



/*****************************************************************************
                                 Polls
 *****************************************************************************/

main.Polls tr.ClosedPoll a,
main.Polls tr.ClosedPoll {
    color: var(--color-disabled);
}


main.Polls div.PollItem {
    display: inline-block;
    background-color: var(--color-bg-elements);
    border-radius: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding-top: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

main.Polls div.PollItem > * {
    display: block;
}

main.Polls div.PollItem > input {
    width: 100%;
}

main.Polls div.PollItem > div {
    background-color: transparent;
}

main.Polls td.TrackCell div,
main.Polls td.CarClassCell div {
    background-color: transparent;
    margin: 0px;
}

main.Polls td.TrackCell,
main.Polls td.CarClassCell {
    padding: 0px;
}

main.Polls td.TrackCell img,
main.Polls td.CarClassCell img {
    height: 4em;
}



/*****************************************************************************
                                 ServerContent
 *****************************************************************************/

main.ServerContent table td > div.DbEntryHtml {
    background-color: transparent;
}

main.ServerContent table td.TrackImage,
main.ServerContent table td.CarClassImage {
    padding: 0;
}

main.ServerContent table td.TrackImage div,
main.ServerContent table td.CarClassImage div {
    margin: 0;
}

main.ServerContent table td.TrackImage div img,
main.ServerContent table td.CarClassImage div img {
    max-height: 3em;
}



/*****************************************************************************
                                    Teams
 *****************************************************************************/

main.Teams table.TeamCar {
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 2em;
}

main.Teams table.TeamCar div.DbEntryHtml {
    background-color: transparent;
    margin: 0;
    border: None;
}



/******************************************************************************
                                    RSer
 ******************************************************************************/

main.RSer table#RSerSeriesEditGeneralSetup img {
    height: 4em;
}

main.RSer div#RaceResultPointsList {
}

main.RSer div#RaceResultPointsList div {
    display: inline-block;
    background-color: var(--color-bg-elements);
    border-radius: 1em;
    padding: 0.1em 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    font-size: 0.8em;
}

main.RSer div#RaceResultPointsList div strong {
    font-size: 1.3em;
    font-weight: bold;
}


/* RSer Logo in Heading */
main.RSer div.RSerPageHeader {
    display: block;
    margin-top: 1em;
    margin-bottom: 3em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

main.RSer div.RSerPageHeader img {
    height: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main.RSer ul.RSerSeasonList {
    display: block;
    text-align: center;
}

main.RSer div.TableWrapper {
    margin-bottom: 5em;
    display: block;
    text-align: center;
}

main.RSer div.TableWrapper div.DbEntryHtml {
    background-color: transparent;
    border: 0;
    margin: 0;
}

main.RSer div.TableWrapper div.DbEntryHtml img {
    height: 3em;
}

main.RSer div.TableWrapper td.ZeroPadding {
    padding: 0;
}
