
div.DbEntryHtml {
    display: inline-block;
    margin: 0.5em 0.5em;
    background-color: var(--color-bg-elements);
    border: 1px solid #0002;
}

div.DbEntryHtml label {
    display: block;
}

div.DbEntryHtml img {
    display: block;
    height: 7em;
}

div.DbEntryHtml a {
    text-decoration: none;
}



/* -----------------------------------------------------------------------------
 *                                  Car
 * -----------------------------------------------------------------------------
 */


div.CarTorquePowerChart svg g.Axes g.YAxisTorque g.Grid polyline {
    stroke: #ffff00;
}

div.CarTorquePowerChart svg g.Axes g.YAxisTorque,
div.CarTorquePowerChart svg g.Axes g.YAxisTorque g.Ticktext text,
div.CarTorquePowerChart svg g.Axes g.YAxisTorque text.YAxisLabel {
    stroke: #ffff00;
    fill: #ffff00;
}

div.CarTorquePowerChart svg g.Plots g.PlotTorque polyline.PlotLine {
    stroke: #ffff00;
    fill: none;
/*     stroke-width: 1em; */
}

div.CarTorquePowerChart svg g.Plots g.PlotTorque polyline.PlotBackground {
    stroke: none;
    fill: #ffff000a;
}

div.CarTorquePowerChart svg g.Plots g.PlotRestrictedTorque polyline.PlotLine {
    stroke: #ffff00;
    fill: none;
    stroke-width: 0.2em;
}

div.CarTorquePowerChart svg g.Plots g.PlotRestrictedTorque polyline.PlotBackground {
    display: none;
}

div.CarTorquePowerChart svg g.Axes g.YAxisTorque g.Grid {
    display: none;
}

div.CarTorquePowerChart svg g.Axes g.YAxisTorque:hover g.Grid {
    display: block;
}




div.CarTorquePowerChart svg g.Axes g.YAxisPower g.Grid {
    display: none;
}

div.CarTorquePowerChart svg g.Axes g.YAxisPower:hover g.Grid {
    display: block;
}


div.CarTorquePowerChart svg g.Axes g.YAxisPower g.Grid polyline {
    stroke: #bb0000;
}

div.CarTorquePowerChart svg g.Plots g.PlotPower polyline.PlotLine {
    stroke: #aa0000;
    fill: none;
/*     stroke-width: 1em; */
}

div.CarTorquePowerChart svg g.Plots g.PlotPower polyline.PlotBackground {
    stroke: none;
    fill: #aa000020;
}

div.CarTorquePowerChart svg g.Plots g.PlotRestrictedPower polyline.PlotLine {
    stroke: #aa0000;
    fill: none;
    stroke-width: 0.2em;
}

div.CarTorquePowerChart svg g.Plots g.PlotRestrictedPower polyline.PlotBackground {
    display: none;
}

div.CarTorquePowerChart svg g.Axes g.YAxisPower,
div.CarTorquePowerChart svg g.Axes g.YAxisPower g.Ticktext text,
div.CarTorquePowerChart svg g.Axes g.YAxisPower text.YAxisLabel {
    stroke: #aa0000;
    fill: #aa0000;
}



/* -----------------------------------------------------------------------------
 *                                  User
 * -----------------------------------------------------------------------------
 */

div.UserHiddenName {
    font-weight: normal;
    font-style: italic;
}



/* -----------------------------------------------------------------------------
 *                                DbEntryHtmlTeam
 * -----------------------------------------------------------------------------
 */

div.DbEntryHtmlTeam {
    display: inline-block;
/*     margin-left: 10em; */
    margin-bottom: 2em;
}

div.DbEntryHtmlTeam img.TeamLogoImage {
    height: 3em;
    float: left;
    margin-right: 1em;
}

div.DbEntryHtmlTeam a,
div.DbEntryHtmlTeam label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
}


/* -----------------------------------------------------------------------------
 *                                DbEntryHtmlRSerSeries
 * -----------------------------------------------------------------------------
 */

div.DbEntryHtmlRSerSeries {
}

div.DbEntryHtmlRSerSeries > a,
div.DbEntryHtmlRSerSeries > div {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.8em 1em;
}

div.DbEntryHtmlRSerSeries img {
    margin-right: 2em;
}



/* -----------------------------------------------------------------------------
 *                             DbEntryHtmlTeamCar
 * -----------------------------------------------------------------------------
 */

div.DbEntryHtmlTeamCar {
    vertical-align: top;
}

div.DbEntryHtmlTeamCar div.DbEntryHtmlTeamCarTeamName {
    font-weight: bold;
}

div.DbEntryHtmlTeamCar div.DbEntryHtmlTeamCarSkinName {
    font-size: 0.8em;
    font-style: italic;
}

div.DbEntryHtmlTeamCar img.DbEntryHtmlTeamCarSkinImg {
    display: inline-block;
}

div.DbEntryHtmlTeamCar ul.DbEntryHtmlTeamCarDrivers {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
    list-style: none outside none;
}

div.DbEntryHtmlTeamCar ul.DbEntryHtmlTeamCarDrivers li {
    display: block;
/*     overflow: hidden; */
/*     white-space: nowrap; */
}

div.DbEntryHtmlTeamCar ul.DbEntryHtmlTeamCarDrivers li img,
div.DbEntryHtmlTeamCar ul.DbEntryHtmlTeamCarDrivers li a {
    display: inline-block;
}
