/* -----------------------------------------------------------------------------
 *                             Table Row/Column Delete
 * -----------------------------------------------------------------------------
 *
 * See \Core\HtmlContent::newHtmlTableRowDeleteCheckbox()
 */

table tr.RowWillBeDeleted {
    background-color: var(--color-red-accent);
}

table tr.RowWillBeDeleted td {
    background-color: none;
    color: #a44;
}

table td.ColumnWillBeDeleted,
table th.ColumnWillBeDeleted {
    background-color: var(--color-red-accent);
}

label.HtmlContentDeleteCheckbox {
    color: #a44;
    font-size: 1.1em;
    cursor: pointer;
}

label.HtmlContentDeleteCheckbox div.DeleteRowIcon {
    display: block;
}

label.HtmlContentDeleteCheckbox div.UnDeleteRowIcon {
    display: none;
}

label.HtmlContentDeleteCheckbox.Checked  {
    color: #4a4;
}

label.HtmlContentDeleteCheckbox.Checked div.DeleteRowIcon {
    display: none;
}

label.HtmlContentDeleteCheckbox.Checked div.UnDeleteRowIcon {
    display: block;
}

label.HtmlContentDeleteCheckbox input[type="checkbox"] {
    display: none;
}



/* -----------------------------------------------------------------------------
 *                            Html Content Checkbox
 * -----------------------------------------------------------------------------
 *
 * See \Core\HtmlContent::newHtmlContentCheckbox()
 */

div.HtmlContentCheckbox {
    display: inline-block;
    background-color: var(--color-bg-elements);
    margin-right: 1em;
    margin-bottom: 1em;
}

div.HtmlContentCheckbox input[type="checkbox"] {
    display: none;
}

div.HtmlContentCheckbox label {
    display: block;
    padding: 0.1em 0.5em;
}

div.HtmlContentCheckbox input[type="checkbox"]:checked ~ label {
    background-color: var(--color-red-accent);
}



/* -----------------------------------------------------------------------------
 *                            Html Content Radio
 * -----------------------------------------------------------------------------
 *
 * See \Core\HtmlContent::newHtmlContentCheckbox()
 */

div.HtmlContentRadio {
    display: inline-block;
    background-color: var(--color-bg-elements);
    margin-right: 1em;
    margin-bottom: 1em;
}

div.HtmlContentRadio input[type="radio"] {
    display: none;
}

div.HtmlContentRadio label {
    display: block;
    padding: 0.1em 0.5em;
}

div.HtmlContentRadio input[type="radio"]:checked ~ label {
    background-color: var(--color-red-accent);
}



/* -----------------------------------------------------------------------------
 *                            Loading Circle
 * -----------------------------------------------------------------------------
 *
 * Intended to be used when loading content with javascript
 */
.LoadingInProgress {
  border: 1em solid var(--color-red-accent);
  border-radius: 50%;
  border-top: 1em solid var(--color-bg-elements);
  width: 1em;
  height: 1em;
  animation: LoadingInProgressSpinner 1s linear infinite;
}

@keyframes LoadingInProgressSpinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
