/* -----------------------------------------------------------------------------
 *                                  Car
 * -----------------------------------------------------------------------------
 */


div.CarTorquePowerChart svg g.Axes g.YAxisTorque g.Grid polyline {
    stroke: #ffff00;
}

div.CarTorquePowerChart svg g.Axes g.YAxisTorque,
div.CarTorquePowerChart svg g.Axes g.YAxisTorque g.Ticktext text,
div.CarTorquePowerChart svg g.Axes g.YAxisTorque text.YAxisLabel {
    stroke: #ffff00;
    fill: #ffff00;
}

div.CarTorquePowerChart svg g.Plots g.PlotTorque polyline.PlotLine {
    stroke: #ffff00;
    fill: none;
/*     stroke-width: 1em; */
}

div.CarTorquePowerChart svg g.Plots g.PlotTorque polyline.PlotBackground {
    stroke: none;
    fill: #ffff000a;
}

div.CarTorquePowerChart svg g.Plots g.PlotRestrictedTorque polyline.PlotLine {
    stroke: #ffff00;
    fill: none;
    stroke-width: 0.2em;
}

div.CarTorquePowerChart svg g.Plots g.PlotRestrictedTorque polyline.PlotBackground {
    display: none;
}

div.CarTorquePowerChart svg g.Axes g.YAxisTorque g.Grid {
    display: none;
}

div.CarTorquePowerChart svg g.Axes g.YAxisTorque:hover g.Grid {
    display: block;
}




div.CarTorquePowerChart svg g.Axes g.YAxisPower g.Grid {
    display: none;
}

div.CarTorquePowerChart svg g.Axes g.YAxisPower:hover g.Grid {
    display: block;
}


div.CarTorquePowerChart svg g.Axes g.YAxisPower g.Grid polyline {
    stroke: #bb0000;
}

div.CarTorquePowerChart svg g.Plots g.PlotPower polyline.PlotLine {
    stroke: #aa0000;
    fill: none;
/*     stroke-width: 1em; */
}

div.CarTorquePowerChart svg g.Plots g.PlotPower polyline.PlotBackground {
    stroke: none;
    fill: #aa000020;
}

div.CarTorquePowerChart svg g.Plots g.PlotRestrictedPower polyline.PlotLine {
    stroke: #aa0000;
    fill: none;
    stroke-width: 0.2em;
}

div.CarTorquePowerChart svg g.Plots g.PlotRestrictedPower polyline.PlotBackground {
    display: none;
}

div.CarTorquePowerChart svg g.Axes g.YAxisPower,
div.CarTorquePowerChart svg g.Axes g.YAxisPower g.Ticktext text,
div.CarTorquePowerChart svg g.Axes g.YAxisPower text.YAxisLabel {
    stroke: #aa0000;
    fill: #aa0000;
}

