
/*****************************************************************************
                            Parameters
*****************************************************************************/

div.ParameterLabel,
div.ParameterValueSpan1,
div.ParameterValueSpan2,
div.ParameterValueSpan3,
div.ParameterValueSpan4,
div.ParameterUnit,
div.ParameterDerivedCheckbox {
    padding: 0.1em 0.2em;
    background-color: var(--color-bg-elements);
    margin-right: 0.2em;
    margin-top: 0.2em;
}

div.ParameterLabel {
    font-weight: bold;
}

div.ParameterValueSpan1,
div.ParameterValueSpan2,
div.ParameterValueSpan3,
div.ParameterValueSpan4 {
    text-align: center;
}

div.ParameterValueSpan2 {
    grid-column: span 2;
}

div.ParameterValueSpan3 {
    grid-column: span 3;
}

div.ParameterValueSpan4 {
    grid-column: span 4;
}

div.ParameterInheritedValue {
    font-style: italic;
}

.ParameterDerivedCheckbox input[type="checkbox"] {
    display: none;
}

.ParameterDerivedCheckbox div {
    background-color: transparent;
    font-family: monospace;
    border-radius: 0.3em;
    font-size: 1.5em;
}

.ParameterDerivedCheckbox input[type="checkbox"] + label div.Checked {
    display: none;
/*     background-color: var(--color-green-accent); */
}

.ParameterDerivedCheckbox input[type="checkbox"] + label div.UnChecked {
    display: block;
/*     background-color: var(--color-red-accent); */
}

.ParameterDerivedCheckbox input[type="checkbox"]:checked + label div.Checked {
    display: block;
}

.ParameterDerivedCheckbox input[type="checkbox"]:checked + label div.UnChecked {
    display: none;
}

.ParameterValueSpan1 img,
.ParameterValueSpan2 img,
.ParameterValueSpan3 img,
.ParameterValueSpan4 img {
    max-width: 12em;
    max-height: 6em;
    display: block;
}


/*****************************************************************************
                            Collections
*****************************************************************************/


div.CollectionContainerLevel1,
div.CollectionContainerLevel2,
div.CollectionContainerLevel3 {
    display: inline-block;
    vertical-align: top;
}


div.CollectionContainerLevel1Label,
div.CollectionContainerLevel2Label,
div.CollectionContainerLevel3Label {
    display: block;
    font-weight: bold;
    background-color: var(--color-red-accent);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0.1em 0.1em;
    text-align: center;;
}

div.CollectionContainerLevel1ParameterContainer {
    border-left: 0.1em solid var(--color-red-accent);
    border-bottom: 0.1em solid var(--color-red-accent);
    border-right: 0.1em solid var(--color-red-accent);
    padding: 0.1em;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}


/*  LEVEL 2 / 3 */

div.CollectionContainerLevel2Label {
    font-weight: bolder;
    font-size: 1.2em;
}

div.CollectionContainerLevel3Label {
    font-weight: bolder;
    font-size: 1.4em;
}

div.CollectionContainerLevel2ChildContainer,
div.CollectionContainerLevel3ChildContainer {
    border-left: 0.1em solid var(--color-red-accent);
    border-bottom: 0.1em solid var(--color-red-accent);
    border-right: 0.1em solid var(--color-red-accent);
    padding: 0.1em;
    padding-top: 0.5em;
}

div.CollectionContainerLevel3ChildContainer {
    background-color: var(--color-bg-elements);
}

div.CollectionContainerLevel2ParameterContainer,
div.CollectionContainerLevel3ParameterContainer,
div.CollectionContainerLevel4ParameterContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

div.CollectionContainerLevel2ChildContainerCollectionLabel {
    font-weight: bold;
    background-color: var(--color-red-accent);
    padding: 0.1em 0.1em;
    text-align: center;;
    margin-top: 0.5em;
}

div.CollectionContainerLevel2
div.CollectionContainerLevel1 {
    display: block;
}

div.CollectionContainerLevel2
div.CollectionContainerLevel1
div.CollectionContainerLevel1Label {
    border-radius: 0;
}

div.CollectionContainerLevel2
div.CollectionContainerLevel1
div.CollectionContainerLevel1ParameterContainer {
    border: 0;
}

/* div.CollectionContainerLevel3ChildContainer */
div.CollectionContainerLevel2 {
    margin: 1em;
}


/*  LEVEL 4 */

div.CollectionContainerLevel4 nav div {
    display: inline-block;
}

div.CollectionContainerLevel4 nav div input {
    display: none;
}

div.CollectionContainerLevel4 nav div label {
    display: inline-block;
    border-top: 0.1em solid var(--color-red-accent);
    border-left: 0.1em solid var(--color-red-accent);
    padding: 0.3em 0.5em;
    background-color: var(--color-bg-elements);
    font-weight: bold;
}

div.CollectionContainerLevel4 nav div input:checked ~ label {
    background-color: var(--color-red-accent);
    padding-top: 0.5em;
}

div.CollectionContainerLevel4 nav div:last-child label {
    border-right: 0.1em solid var(--color-red-accent);
    border-top-right-radius: 0.5em;
}

div.CollectionContainerLevel4 nav div:first-child label {
    border-top-left-radius: 0.5em;
}

div.CollectionContainerLevel4ChildContainer {
    border-top: 0.1em solid var(--color-red-accent);
    display: inline-block;
}



div.CollectionContainerLevel4ChildContainerTab {
    border-left: 0.1em solid var(--color-red-accent);
    border-bottom: 0.1em solid var(--color-red-accent);
    border-right: 0.1em solid var(--color-red-accent);
    padding: 0.1em;
/*     width: 100%; */
    background-color: var(--color-bg-elements);
}

