
/******************************************************************************
                                   CarBrand
 ******************************************************************************/

main.CarBrand #BrandInfo {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

main.CarBrand #BrandInfo > label {
    font-weight: bold;
    font-size: 5em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}



/******************************************************************************
                                   CarModel
 ******************************************************************************/

main.CarModel #BrandInfo {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

main.CarModel #BrandInfo > label {
    font-weight: bold;
    font-size: 5em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}

main.CarModel div#CarModelTorquePowerChart {
    width: 40em;
    display: inline-block;
}



/******************************************************************************
                                   CarSkin
 ******************************************************************************/

main.CarSkin #BrandInfo {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

main.CarSkin #BrandInfo > label {
    font-weight: bold;
    font-size: 5em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}



/******************************************************************************
                                   TrackLocation
 ******************************************************************************/

main.TrackLocation a.TrackLink {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}



/******************************************************************************
                                   TrackLocation
 ******************************************************************************/

main.TrackLocation #TrackInfoGeneral {
    display: block;
    margin-bottom: 2em;
}



/******************************************************************************
                                   CarModel
 ******************************************************************************/

main.CarModel #CarModelInformation,
main.CarModel #CarModelRevision,
main.CarModel #CarModelCurveTbl {
    display: inline-block;
    margin-right: 2em;
}

main.CarModel #CarModelDescription {
    display: block;
    background-color: var(--color-bg-elements);
    padding: 1em;
    margin: 2em 0em;;
}



/******************************************************************************
                                   CarSkin
 ******************************************************************************/

main.CarSkin #CarSkinInformation,
main.CarSkin #CarSkinRevision {
    display: inline-block;
    margin-right: 2em;
}

main.CarSkin a#SkinImgPreview {
    padding: 1em;
}

main.CarSkin a#SkinImgPreview img {
    display: block;
    max-height: 20em;
}
